.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #9c276b;
  background-image: linear-gradient(225deg, #9c276b 0%, #4b2171 49%, #1c5279 100%);
}

.Calculator {
  height: 90vh;
  width: calc(100vh * 0.6);
  margin: auto;
  /* From https://css.glass */
  background: rgba(156, 190, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  border: 1px solid rgba(156, 190, 255, 0.46);
}

.Screen {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 16px;
  padding: 10px;
  height: 20vh;
}

.Keyboard-upper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 8px;
  height: 30vh;
  grid-auto-rows: calc(30vh/5);
}
.Keyboard-lower {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 8px;
  height: 25vh;
  grid-auto-rows: calc(30vh/4);
}

.Button {
  font-weight: 0;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  height: 80%;
  width: 90%;
  border: none;
  box-shadow: rgb(0, 0, 0) 2px 2px 3px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.Key-shift {
  color: rgb(255, 225, 0);
  font-size: 9px;
  float: left;
}

.Key-alpha {
  color: rgb(255, 0, 34);
  font-size: 9px;
  float: right;
}

.Key-text {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  height: 20%;
}

.Modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%; 
  /* From https://css.glass */
  background: rgba(156, 190, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  border: 1px solid rgba(156, 190, 255, 0.46);
  }



